<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:m.peluso93@gmail.com">email</a></li>
	        		<li><a href="https://github.com/matteopeluso">github.com/matteopeluso</a></li>
				<li><a href="https://linkedin.com/in/matteo-peluso-9550b8119/">linkedin</a></li>
				<li><a href="https://linkedin.com/in/matteo-peluso-9550b8119/">
					<i class="fa fa-linkedin" aria-hidden="true"></i>z</a></li>

			</ul>
			</footer>
		</body>
	</html>


